* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
.img {
  width: 400px;
  height: 400px;
  border-radius: 100%;
  object-fit: cover;
  filter: grayscale(90%);
}

.title {
  line-height: 1.03;
  letter-spacing: 0.161em;
  font-family: "Saira Extra Condensed", sans-serif;
  font-size: 5.5rem;
  text-transform: uppercase;
  color: rgb(48, 63, 60);
}

.subtitle {
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgb(199, 153, 140);
  font-size: 2rem;
}

.title-cv {
  font-size: 1.5rem;
}

.background1 {
  position: absolute;
  width: 87%;
  height: 100%;
  background-image: url(./src/assets/background/background1.svg);
  background-repeat: no-repeat;
  bottom: 927px;
  left: 299px;
  transform: translate(-137.59px, -150.386px) rotate(-135deg);
}

.background2 {
  position: absolute;
  width: 83%;
  height: 43%;
  background-image: url(./src/assets/background/background2.svg);
  background-repeat: no-repeat;
  top: -111px;
  right: 76px;
  transform: translate(366.85px, -255.297px);
}
.background3 {
  position: absolute;
  width: 71%;
  height: 85%;
  background-image: url(./src/assets/background/background3.svg);
  background-repeat: no-repeat;
  top: 395px;
  right: 845px;
  transform: translate(-370.805px, 785.28px) rotate(84.268deg);
}
